/*Codigo CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Comienzo body*/
body {
    min-height: 100vh;
    background-image: url(imagenes/composicion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Fin Body*/
/* Comienzo Contenedor globlal*/
#contenedorGlobal {
    background-color: hsla(0, 0%, 50%, 0.678);
    padding-bottom: 25px;
}

#contenedorGlobal div {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}
/*Fin contenedor Global*/

/*Comienzo Cabecera donde esta el logo y nombre de empresa*/
#cabecera {

    display: flex;
    align-items: center;
    justify-content: center;
}

img {

    width: 20%;
    max-width: 150px;

    padding: 10px;
}
/*FIN CABECERA*/

/*Comienzo Empresa (Inicio, Nuestra Empresa, Servicios y Contactanos*/
#empresa {
    height:30%;
	display: flex;
	align-items: center;
	justify-content: center;
    border: white 1px solid;
}

.dropbtn {
    background-color: rgb(76, 160, 175);
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .dropdown {    
    position: relative;
    display: inline-block;   
  }

  .dropdown button,div{
    margin: 1px;      
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;   
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
      border-radius: 10px;
    }
            
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: peru
  }

  #empresa a:hover {
    background-color: rgb(242, 255, 127);
}

#empresa a:active {
    background-color: rgb(127, 182, 255);
}
/*ensayo display para celular*/
#navigation{
    display:none;/*Este menu no se mostrara en pantallas de mayor resulución*/
}

.control-menu {
    background-color: transparent;
    background-position: center center;
    border: 1px solid #fff;
    display: block;
    float: center;
    height: 40px;
    margin-right: 1.3em;
    width: 40px;
}
.control-menu a span {
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
}
.control-menu .close {
    background-image: url("imagenes/close-menu.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}
.control-menu .open {
    background-image: url("imagenes/open-menu.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

ul.nav-items {        
    display: none;  
    position: absolute;
    clear: both;
    overflow: hidden;        
}

#navigation:target ul.nav-items {          
    display: block;    
    background-color:rgba(165, 196, 29, 0.897); 
    border-radius: 10px;
    z-index: 1; 
    margin: 5px;
}


#navigation ul a { 
    display: inline-block;    
    padding: 5px;
    margin: 3px;          
    text-decoration: none;      
    background-color:#f1f1f1; 
    border-radius: 10px;
}

/*Al hacer clic sobre el enlace que abre el menú éste desaparece*/

.close { 
   display:none;
}
        
#navigation:target .open {
      display: none;
}

/* Al hacer clic sobre el enlace que abre el menú aparece el enlace .close que previamente estaba oculto*/

#navigation:target .close {
        display: block;
}
  
/*Estilos menu*/

ul.nav-items li {
    display: block;
    margin:2px;
    padding: 1px;
}
.mobile {
    text-align: center;
}

.mobile > span{
    text-align: center;
    background-color: #000;
    color: #ccc;
    border-radius: 5px;  
       
}


/*termina ensayo display celular*/


/*Fin Empresa*/

#Informacion {
   
    text-align: center;
    margin:10px;
    min-height: 65vh;
    border: white 1px solid;
}
.hinfo{
    background-color: lavender;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.paginfo {
    background: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    
}


#pie {
    text-align: center;

    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 7vh;

    border: white 1px solid;
}

/*BEGIN SERVICIOS*/

.contTarjetas {
    margin: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.imgServ {
    width: 30%;
}

.imgServContenedor {

    display: inline-block;
    overflow: hidden;
    width: 25%;

    background-color: azure;

}

.imgServContenedor .imgServ {
    min-width: 100%;
    padding: 0px;
}

/*END SERVICIOS*/



/*FORMULARIO*/

form {
    background-color: beige;
    margin-left: 50px;
    color: #999;
    padding: 10px;
    font-size: 1.2em;
    width: 80%;

}

input,textarea {
    border: 0;
    outline: none;
}

.btn {
    border-radius: 10px;
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: white;
    background-color: rgb(0, 128, 128);
}


.btn:hover {
    background-color: rgb(87, 165, 42);
}

.btn:active {
    background-color: blueviolet;
}

.formula {
    border: solid 1px #ccc;
    padding: 10px;    
}

.formula:focus {
    border-color: aquamarine;
}

@media screen and (max-width: 480px) {
    
    #empresa {
        justify-content: left;
    }
    
       .dropdown{
        display:none;
              
    } 
    #navigation{
        display: block;        
    }
    

    form {
        
        margin-left: 20px;        
        padding: 10px;        
        width: 85%;    
    }
    .formula{
        text-align: center;
   
    }
    video{
        max-width: 100%;
    }

    #empresa a:hover {
        background-color: rgba(255, 204, 127, 0.2);
}

.imgServContenedor {
    width: 80%;
}


}
@media screen and (max-width: 760px) {

video{
    max-width: 100%;
}

.dropbtn {    
    font-size: 14px;    
  }

}
@media screen and (max-width: 950px) {}